Web_Cliente/Web References/webservice3/WebServiceRespostas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="solicitacaoListaRespostaFisica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="solicitacaoListaRespostaFisicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="solicitacaoListaRespostaFisicaResult" type="tns:ArrayOfItem_Pedido" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem_Pedido">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item_Pedido" nillable="true" type="tns:Item_Pedido" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item_Pedido">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="qantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="valor_unitario" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="data" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Produto" type="tns:Produto" />
          <s:element minOccurs="0" maxOccurs="1" name="fisca" type="tns:Fisica" />
          <s:element minOccurs="0" maxOccurs="1" name="juridica" type="tns:Juridica" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Produto">
        <s:complexContent mixed="false">
          <s:extension base="tns:Tipo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="preco" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:float" />
              <s:element minOccurs="0" maxOccurs="1" name="nome_produto" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Codigo_produto_" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Tipo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_tipo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fisica">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pessoa">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="sexo" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="nascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cpf" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Pessoa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Codigo_pessoa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Juridica">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pessoa">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="nome_fantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="razao_social" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="responsavel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="idPessoaFisica">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="idPessoaFisicaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idPessoaFisicaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="solicitacaoListaRespostaFisicaSoapIn">
    <wsdl:part name="parameters" element="tns:solicitacaoListaRespostaFisica" />
  </wsdl:message>
  <wsdl:message name="solicitacaoListaRespostaFisicaSoapOut">
    <wsdl:part name="parameters" element="tns:solicitacaoListaRespostaFisicaResponse" />
  </wsdl:message>
  <wsdl:message name="idPessoaFisicaSoapIn">
    <wsdl:part name="parameters" element="tns:idPessoaFisica" />
  </wsdl:message>
  <wsdl:message name="idPessoaFisicaSoapOut">
    <wsdl:part name="parameters" element="tns:idPessoaFisicaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRespostasSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="solicitacaoListaRespostaFisica">
      <wsdl:input message="tns:solicitacaoListaRespostaFisicaSoapIn" />
      <wsdl:output message="tns:solicitacaoListaRespostaFisicaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="idPessoaFisica">
      <wsdl:input message="tns:idPessoaFisicaSoapIn" />
      <wsdl:output message="tns:idPessoaFisicaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRespostasSoap" type="tns:WebServiceRespostasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solicitacaoListaRespostaFisica">
      <soap:operation soapAction="http://tempuri.org/solicitacaoListaRespostaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idPessoaFisica">
      <soap:operation soapAction="http://tempuri.org/idPessoaFisica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRespostasSoap12" type="tns:WebServiceRespostasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="solicitacaoListaRespostaFisica">
      <soap12:operation soapAction="http://tempuri.org/solicitacaoListaRespostaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="idPessoaFisica">
      <soap12:operation soapAction="http://tempuri.org/idPessoaFisica" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRespostas">
    <wsdl:port name="WebServiceRespostasSoap" binding="tns:WebServiceRespostasSoap">
      <soap:address location="http://localhost:50647/WebServiceRespostas.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceRespostasSoap12" binding="tns:WebServiceRespostasSoap12">
      <soap12:address location="http://localhost:50647/WebServiceRespostas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>