Web_Cliente/Web References/servidor/WebServiceFrigorifico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p" type="tns:Pessoa" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Pessoa">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="telefone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="endereco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cep" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="municipio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="complemento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numero" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Codigo_pessoa" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="nome_tipo">
        <s:complexType />
      </s:element>
      <s:element name="nome_tipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nome_tipoResult" type="tns:ArrayOfTipo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tipo" nillable="true" type="tns:Tipo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tipo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_tipo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Animal" type="tns:Animal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Animal">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="codigo_animal" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tipo" type="tns:Tipo" />
          <s:element minOccurs="1" maxOccurs="1" name="peso" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="quantdade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="preco" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="fornecedor" type="tns:Fornecedor" />
          <s:element minOccurs="0" maxOccurs="1" name="recebimento" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fornecedor">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pessoa">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="j" type="tns:Juridica" />
              <s:element minOccurs="1" maxOccurs="1" name="Codigo_fornecdor" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Animal" type="tns:Animal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Juridica">
        <s:complexContent mixed="false">
          <s:extension base="tns:Pessoa">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="nome_fantasia" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="razao_social" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="responsavel" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Cnpj" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="nome_tipoSoapIn">
    <wsdl:part name="parameters" element="tns:nome_tipo" />
  </wsdl:message>
  <wsdl:message name="nome_tipoSoapOut">
    <wsdl:part name="parameters" element="tns:nome_tipoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceFrigorificoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="nome_tipo">
      <wsdl:input message="tns:nome_tipoSoapIn" />
      <wsdl:output message="tns:nome_tipoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceFrigorificoSoap" type="tns:WebServiceFrigorificoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nome_tipo">
      <soap:operation soapAction="http://tempuri.org/nome_tipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFrigorificoSoap12" type="tns:WebServiceFrigorificoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nome_tipo">
      <soap12:operation soapAction="http://tempuri.org/nome_tipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceFrigorifico">
    <wsdl:port name="WebServiceFrigorificoSoap" binding="tns:WebServiceFrigorificoSoap">
      <soap:address location="http://localhost:52803/WebServiceFrigorifico.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFrigorificoSoap12" binding="tns:WebServiceFrigorificoSoap12">
      <soap12:address location="http://localhost:52803/WebServiceFrigorifico.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>